language: erlang
install: true
before_script:
  - wget https://s3.amazonaws.com/rebar3/rebar3
  - chmod +x rebar3
env: PATH=$PATH:.
script: make travis
notifications:
  disabled: true
otp_release:
  - 19.0
  - 18.2
  - 18.0
  - 17.5
  - 17.1
  - R16B03-1
  # - R15B03
  # - R14B04
