%% -*- mode: erlang; indent-tabs-mode: nil -*-

{erl_opts, [debug_info]}.

{profiles, [{test, [{deps, [proper]}]}]}.

{pre_hooks, [{"(linux|darwin|solaris|freebsd|netbsd|openbsd)", ct,
              "bin/lfe bin/lfec"
              " -o $REBAR_DEPS_DIR/lfe/test"
              " test/*_SUITE.lfe"},
             {"(linux|darwin|solaris|freebsd|netbsd|openbsd)", eunit,
              "bin/lfe bin/lfec"
              " -o $REBAR_DEPS_DIR/lfe/ebin"
              " test/clj-tests.lfe"},
             %% TODO: Test this on a win32 box
             %%  {"win32", ct,
             %%   "bin/lfe bin/lfec -o $REBAR_DEPS_DIR/lfe/test test/*_SUITE.lfe"}
             {"(linux|darwin|solaris|freebsd|netbsd|openbsd)", app_compile,
              "bin/lfe bin/lfec -o $REBAR_DEPS_DIR/lfe/ebin src/*.lfe"}
             %% TODO: equivalent win32 hook
            ]}.
