%% -*- mode: erlang; indent-tabs-mode: nil -*-

{erl_opts, [debug_info]}.

{profiles, [{test, [{deps, [proper]}]}]}.

{pre_hooks, [{"(linux|darwin|solaris)", ct, "make"},
             {"(linux|darwin|solaris)", ct,
              "./bin/lfec -o ./_build/test/lib/lfe/ebin test/*_SUITE.lfe"},
             {"(freebsd|netbsd|openbsd)", ct, "gmake"},
             {"(freebsd|netbsd|openbsd)", ct,
              "./bin/lfec -o ./_build/test/lib/lfe/ebin test/*_SUITE.lfe"}
             %% TODO: Test this on a win32 box
             %% {"win32", ct, "make"},
             %% {"win32", ct,
             %%  "./bin/lfec -o ./_build/test/lib/lfe/ebin test/*_SUITE.lfe"}
            ]}.

{ct_opts, [{dir, "ebin"}]}.
