%% -*- mode: erlang; indent-tabs-mode: nil -*-

{erl_opts, [debug_info]}.

{profiles, [{test, [{deps, [{proper, {git, "https://github.com/proper-testing/proper", {tag, "v1.4"}}}]},
                    {plugins, [{rebar3_proper, {git, "https://github.com/ferd/rebar3_proper", {tag, "0.12.1"}}}]},
                    {src_dirs, ["src", "test"]}]},
            {test_older, [{deps, [{proper, {git, "https://github.com/proper-testing/proper", {tag, "v1.3"}}}]},
                          {plugins, [{rebar3_proper, {git, "https://github.com/ferd/rebar3_proper", {tag, "0.12.1"}}}]},
                          {src_dirs, ["src", "test"]}]},
            {dialyzer, []}]}.

{pre_hooks, [{"(linux|darwin|solaris|freebsd|netbsd|openbsd)", ct,
              "bin/lfe bin/lfec"
              " -o $REBAR_DEPS_DIR/lfe/test"
              " test/*_SUITE.lfe"},
             {"(linux|darwin|solaris|freebsd|netbsd|openbsd)", eunit,
              "bin/lfe bin/lfec"
              " -o $REBAR_DEPS_DIR/lfe/ebin"
              " test/clj-tests.lfe"},
             %% TODO: Test this on a win32 box
             %%  {"win32", ct,
             %%   "bin/lfe bin/lfec -o $REBAR_DEPS_DIR/lfe/test test/*_SUITE.lfe"}
             {"(linux|darwin|solaris|freebsd|netbsd|openbsd)", app_compile,
              "bin/lfe bin/lfec -o $REBAR_DEPS_DIR/lfe/ebin src/*.lfe"}
             %% TODO: equivalent win32 hook
            ]}.
